header{
    margin: 5px;
    margin-left: 5px;
    height: 100px;
    border: 2px ;
    border-radius: 9px;
    width: 1220px;
}
img{
    width: 80px;
    margin-bottom: 0%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: bold;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  nav ul li{
    padding: 20px;
    border: 2px;
    border-radius: 9px;
    list-style: none;
    margin: 2px 10px;
  }
  nav ul li a{
    text-decoration: none;
  }
  
  li :hover{
    color:yellow;
  }
  .specific li {
    background-color: yellow;
    text-decoration: none;
    padding: 20px;
    border: 2px;
    border-radius: 9px;
    list-style: none;
    margin: 2px 10px;
  }
  .specific li:hover{
    background-color: white;
  -webkit-text-stroke: 2px black;
  }
  
  .baseone{
    margin: 5px;
    margin-left: 5px;
    height: 250px;
    border: 2px ;
    border-radius: 9px;
    width: 1220px;
    background-image: url(images/vegatablesoup.jfif)
  }
  h1{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 40px;
    border-radius: 9px;
    color: rgba(135, 33, 231, 0.849);
    font-weight: bold;
  }
  p{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 40px;
    border-radius: 9px;
    color: black;
    font-weight: lighter;
  }
  section{
    margin-top: 20px;
    height: 400px;
    width: 1220px;
    border: 2px;
    border-radius: 9px;
    background-color: yellow;
  }
 


  .parta{
    position: absolute;
    margin-left: 10px;
    margin-top: 30px;
    padding: 20px;
    border: 2px;
    border-radius: 9px;
    height: 300px;
    width: 450px;
    background-color: rgba(135, 33, 231, 0.849);
    
  }
  .partb img{
    position: relative;
    float: right;
    justify-content: right;
    height: 300px;
    width: 450px;
    margin: 5px;
    margin-right: 20px;
    margin-top: 30px;
  }

  .parta li{
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    color: black;
    font-style: normal;
    list-style: none;
    margin-top: 10px;

  }
  .parta li a {
    text-decoration: none;
    border: 2px;
    background-color: white;
    border-radius: 9px;
    

  
  }
  .parta ul{
    margin-top: 30px;
    margin-bottom: 0%;
 
    
  }
  footer{
    margin-top: 20px;
  height: 400px;
  width: 1220px;
  background-color:rgba(135, 33, 231, 0.849);
  border-radius: 9px;
  }
  .section8{
    display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 20px;
  padding: 50px;
  border: 2px;
  }
  .part1{
    margin-top: 10px;
    margin-bottom: 0;
    width: 250px;
    
    padding: 50px;
    border: 2px;
  }
  .part1 p{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: black;
    font-style: normal;
  }
  .contact{
    margin-top: 10px;
    margin-bottom: 0;
    width: 250px;
  
    padding: 50px;
    border: 2px;
  }
  .part1 h1{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: black;
    font-style: normal;
  }
  .contact h1{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: black;
    font-style: normal;}
    .subscribe{
        margin-top: 10px;
        margin-left: 20px;
        width: 250px;
       
        
      }
      
      
      .contact ul li{
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        color: black;
        font-style: normal;
        list-style: none;
      }
      .contact a{
        text-decoration: none;
      }
      .subscribe h1{
        margin-top: 10px;
        font-size: 30px;
        font-family: "Poppins", sans-serif;
        color: black;
        font-style: normal;
      
      }
      .subscribe h1:hover{
        color: transparent;
        -webkit-text-stroke: 2px black;
    color: transparent;}
      .subscribe h1 a{
        text-decoration: none;
      }
      .subscribe p{
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        color: black;
        font-style: normal;
      
      }
      .subscribe label{
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        color: black;
        font-style: normal;
      }
      
      .subscribe input{
        border: 2px;
        border-radius: 9px;
        padding: 7px;
      }
    
      
      
      